.btn-primary,
button[type="submit"].btn-primary {
  border-radius: 25.228px;
  background: radial-gradient(50% 50% at 50% 50%, #a47cf3 0%, #683fea 100%);
  box-shadow: 0px 1.713004469871521px 0.8565022349357605px 0px rgba(255, 255, 255, 0.25) inset,
    0px -3.426008939743042px 1.713004469871521px 0px rgba(0, 0, 0, 0.25) inset,
    0px 0px 0.8565022349357605px 3.426008939743042px rgba(255, 255, 255, 0.1),
    0px 0px 154.17039489746094px 0px #9917ff;
}
