@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: "Poppins", system-ui, sans-serif;
  line-height: 1.5;
  letter-spacing: 1.1px;
  color-scheme: light dark;
  color: #ffffff;
  background: linear-gradient(to right, #160d2d, #090315);

  /* background: radial-gradient(circle at center, #472966, #081332); */
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

/* Hide the default scrollbar */
::-webkit-scrollbar {
  width: 7px; /* Adjust the width as needed */
}

/* Style the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background-color: rgb(53, 53, 53); /* Color of the thumb */
  border-radius: 6px; /* Rounded corners */
}

::-webkit-scrollbar-track {
  background-color: #11071B; /* Set your desired background color here */
}

html {
  scroll-behavior: smooth;
}